body{
    margin: 0;
    padding: 0;
}
.submitArea{
    padding: 70px;
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
}
#transitionArea{
    display: none;
}
.deposit{
    background-color: lightseagreen;

}
.withdraw{
    background-color: lightsalmon;

}
.balance{
    background-color: orange;

}